html {
  box-sizing: border-box;
  font-size: var(--font-size);
  background-color: var(--color-yellow);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: var(--weight-600);
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: Figtree;
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf)
       format("truetype-variations");
}

:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 7%);
  --color-grey: hsl(0, 0%, 50%);
  --font-size: 16px;
  --font-family: "Figtree", sans-serif;
  --weight-600: 600;
  --weight-800: 800;
  font-family: var(--font-family);
}

body {
  width: 100vw;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 382px;
  height: 520px;
  padding: 1.4rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--color-black);
  box-shadow: 6px 6px;
  transition: box-shadow .03s linear;
}

.card-hero {
  align-self: center;
}

.card-article-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  display: inline-block;
  margin: 1rem 0;
  font-weight: var(--weight-800);
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit
}

.card-title {
  
}

.card-desc {
  color: var(--color-grey);
  line-height: 1.5;
}

.card-avatar-wrapper {
  height: 2rem;
  display: flex;
}

.card-avatar-wrapper img {
  height: 100%;
}

.card-avatar-wrapper a {
  align-self: center;
  margin: 0 0.7rem;
  font-weight: var(--weight-800);
}

.card-text-wrapper {
  height: 100%;
}

.card-category {
  display: inline-block;
  margin: 1rem 0  ;
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-weight: var(--weight-800);
  border-radius: 5px;
  padding: .4rem;
}

.card-date {
}

.card, img {
  border-radius: 1rem;
}

.card-title:hover {
  color: var(--color-yellow);
  cursor: pointer
}

.card:hover {
  box-shadow: 12px 12px;
}

@media only screen and (max-width: 375px) {
  .card {
    width: 325px;
    height: 500px;
    padding: 1.2rem;
  }
}