:root {

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4158D0;
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.video-container {
  position: relative;
  border-radius: 8px;
  width: 960px;
  height: 540px;
  overflow: hidden;
  color: white;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.controller__container {
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(0,0,0,.85) 0%, rgba(0,0,0,0) 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.controller {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.play-pause i {
  font-size: 1.125rem;
  transform: translateY(1px);
}

.volume i {
}

input[type="range"] {
  width: 80px;
  -webkit-appearance: none;
  height: 4px;
  background: rgb(128, 128, 128, 0.5);
  transform: translateY(-3px);
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: white;
}

input[type="range"]::-webkit-slider-runnable-track {
}

.time {
  transform: translateY(1px);
  font-size: .9rem;
}

.duration {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.3);
}

.duration__elapsed-bar {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.duration__elapsed-time {
  padding: 3px 8px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  transform: translateY(-8px);
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

.section__playback-control, .section__utils {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}

.section__playback-control > *, .section__utils > *, .duration {
  cursor: pointer;
}

.section__utils > *, .time, .volume i {
  color: rgba(255, 255, 255, 0.85);
}

.section__utils > *:hover, .volume i:hover {
  color: rgba(255, 255, 255, 1);
}

.video-container:hover .controller__container {
  /* opacity: 1; */
}

video:fullscreen {

}

video::-webkit-media-controls {
  display:none !important;
}

.playback-speed {
  position: relative;
}

.playback-speed__menu {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  transform: translateY(-52px);
}

.playback-speed:hover .speed {
  color: rgba(255, 255, 255, 0.85);
}

.playback-speed__menu .speed {
  padding-right: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.playback-speed__menu {
  border-radius: 4px;
  padding: .5rem 1rem;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}

.playback-speed__menu .speed:hover {
  color: white;
}

.shown {
  display: block;
}

.selected-playback {
  font-weight: 600;
  color: white;
}

.controller__container {
  opacity: 1;
  transition: .3s opacity;
}


.controller__container.hide-controller {
  opacity: 0;
}

span {
  user-select: none;
}